In [1]:
# 1) Verify if a value is an integer
a=2
type(a)

int

In [2]:
#2) Verify if a value is even (se for par resto da divisao é 0)
b=3
b%2==0

False

In [3]:
#3) Insert two numbers. Is the first is bigger than the second?
num1=int (input("primeiro numero: "))
num2=int (input("segundo numero: "))
num1>num2

primeiro numero: 5
segundo numero: 6

False

In [4]:
#4) Verify if one value is multiple of another
c=10
d=5
c%d==0 or d%c==0 #nao pos o segundo no aquila

True

In [5]:
#5) Calculate the interest earn by an investor that invested an amount of capital of 200 during three years with aninterest rate of 3%.
#(I= P*R*T)
Montante=200
Tempo=3
Taxa=0.03
Juro=Montante*Taxa*Tempo
Juro

18.0

In [6]:
#6) Capital that an investor obtained after investing an amount of capital of 200 during three years with an interestrate of 3%. (Compound interest)
JuroComposto=Montante*(1+Taxa)**Tempo
JuroComposto

218.5454

In [13]:
#7) Calculate your BMI (Body Mass Index)
peso=float(input("Insira o seu peso em kg: "))
altura=float(input("Insira a sua altura em metros: "))
BMI=peso/(altura**2)
print("O seu BMI é %.2F" %BMI)

Insira o seu peso em kg: 49
Insira a sua altura em metros: 1.61
O seu BMI é 18.90

In [10]:
#8) Calculate the Golden ration:
GR=(1+5**(1/2))/2
GR

1.618033988749895

In [13]:
import math
GR2=(1+math.sqrt(5))/2
print(GR2)

1.618033988749895

In [38]:
#9) Calculate the NPV (Net present value) of an investment, considering an initial investment of 10000, the following
cashflows=[2000,3000,4000,4000,5000]
k=0.1
NPV=0 
Investimento=10000
for i in range(0,5):
    NPV=NPV+float(cashflows[i]/(1+k)**(i+1))
NPV=NPV-Investimento
print("NPV= ", NPV) #No que foi submetido no aquila estava muita coisa mal

NPV=  3139.440301519393

In [16]:
#outra forma de 9)
I=10000 #no anterior tinha conside o investimento inicial 0, por ter lido mal o enunciado
CF1=2000
CF2=3000
CF3=4000
CF4=4000
CF5=5000
taxa=0.1
NPV2=(CF1/(1+taxa))+(CF2/(1+taxa)**2)+(CF3/(1+taxa)**3)+(CF4/(1+taxa)**4)+(CF5/(1+taxa)**5)-I
print(NPV2)

3139.440301519393

In [6]:
#10) Ask the user to insert name and age. Calculate the birth year. Print a result saying the 'this person was born in.'
    #1. Solve the problem without using modules and libraries
Nome=str(input("Insira o seu nome: "))
Idade=int(input("Insira a sua idade: "))
Ano=2020
AnoNascimento=Ano-Idade
print("Esta pessoa nasceu em ", AnoNascimento)

Insira o seu nome: Pedro
Insira a sua idade: 21
Esta pessoa nasceu em  1999

In [7]:
    #2. Solve the problem using the date library from module datetime, as fallow:
from datetime import date
today=date.today()
today.year
Nome=str(input("Insira o seu nome: "))
Idade=int(input("Insira a sua idade: "))
AnoNascimento=today.year-Idade
print("Esta pessoa nasceu em ", AnoNascimento)

Insira o seu nome: Pedro
Insira a sua idade: 21
Esta pessoa nasceu em  1999

In [2]:
#11) Ask the user to insert forenames, surnames. Create a new variable (name) with your complete name.
Proprio=str(input("Insira nome próprio:"))
Apelidos=str(input("Insira apelidos: "))
Nome=Proprio+" "+Apelidos
nomeBig=Nome.upper()
nomeBig

Insira nome próprio:Pedro Rafael
Insira apelidos: Violante de Almeida

'PEDRO RAFAEL VIOLANTE DE ALMEIDA'

In [3]:
nomeTitle=Nome.title()
nomeTitle

'Pedro Rafael Violante De Almeida'

In [4]:
nomeSmall=Nome.lower()
nomeSmall

'pedro rafael violante de almeida'

In [5]:
nomeCapitalized=Nome.capitalize()
nomeCapitalized

'Pedro rafael violante de almeida'

In [10]:
#12) Use the following method to show in which character appears the first "da"
name.find('da')
#nao percebi se era isto

30